body {
    margin: auto;
    font: 32px "Optima", "Georgia", "Times New Roman";
    background: white;
}

hr {
    background-color: gainsboro;
    border-color: gainsboro;
    color: gainsboro;
}

.container {
    margin: auto;
    width: 200px;
    padding: 40px;
}

.title {
    font-size: 36px;
}

.subtitle {
    font-size: 24px;
}